# Python compiled byte code
*.pyc

# SQLite3 database
*.sqlite3

.DS_Store

# Packaging files:
*.egg*

# Editor temp files:
*.swp

# Sphinx docs:
build

# local settings
controlpanel/settings/local.py

# Node modules
#node_modules/

#.bowerrc
#.buildpacks
#bower.json
#gulpfile.json
#package.json
#scripts

# Bower components
#assets/bower_components/

# Uglified JavaScript
release/

#generated upload folders
uploads/
_thumbnails_
presentation_files