<div class="row">
	<div class="col-xs-12">
		<ul class="breadcrumb">
	  		<li><a href="#">Home</a></li>
	  		<li class="active">Files</li>
		</ul>
	</div>
</div>

<div class="row"></div>

<div class="row">
	<div class="col-xs-12">
		
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list"></span>Files
                <div class="pull-right action-buttons">
                    <div class="btn-group pull-right">
                        <a class="btn btn-primary btn-xs pull-right" href="#/files/new">Create new</a>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <ul class="list-group custom-list">
                    <li class="list-group-item custom-item" ng-repeat="f in ctrl.files">
                        <img src="http://placehold.it/140x100" class="item-thumbnail">

                        <div class="item-infos">
                            <p class="item-title"><a href="#/files/[[ f.id ]]">[[ f.title ]]</a></p>

                            <p class="info-item">
                                <span class="info-title">Pub Date: </span><span class="info">[[ f.pub_date | date:medium ]]</span>
                            </p>
                            <p>
                                <span class="info-title">Expiry Date: </span><span class="info">[[ f.expiry_date | date:medium ]]</span>
                            </p>
                            <p>
                                <span class="info-title">Categories/Products: </span><span class="info">[[ f.categories.join(" | ")]]</span>
                            </p>

                        </div>
                        <div class="pull-right action-buttons">
                            <a href="#/files/[[ f.id ]]"><span class="glyphicon glyphicon-pencil"></span></a>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-12">
                        <h6>
                            Total Count <span class="label label-info" ng-bind="ctrl.files.length"></span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>