<div class="row">
    <div class="col-xs-12">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#/users">User</a></li>
            <li class="active">new User</li>
        </ul>
    </div>
</div>

<div cg-busy="{promise:ctrl.promise,templateUrl:ctrl.templateUrl,message:ctrl.message,backdrop:ctrl.backdrop,delay:ctrl.delay,minDuration:ctrl.minDuration}" class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" ng-submit="ctrl.create()">
            <fieldset>
                <legend>[[ ctrl.newUser.email ]]</legend>
                <div class="form-group">
                    <label for="email" class="col-md-2 control-label">Email</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="email" placeholder="User Email" ng-model="ctrl.newUser.email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="first_name" class="col-md-2 control-label">First Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="first_name" placeholder="First Name" ng-model="ctrl.newUser.first_name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="last_name" class="col-md-2 control-label">Last Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="last_name" placeholder="Last Name" ng-model="ctrl.newUser.last_name">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="country">Country</label>
                    <div class="col-md-10">
                        <select class="form-control" ng-model="ctrl.newUser.country" ng-options="c.code as c.name for c in ctrl.countries"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="user_type">User group</label>
                    <div class="col-md-10">
                        <select class="form-control" ng-model="ctrl.newUser.user_type" ng-options="g.code as g.name for g in ctrl.user_groups"></select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <a class="btn btn-default" href="#/users">Cancel</a>
                        <input type="submit" value="Create" class="btn btn-primary">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>