<div class="row">
    <div class="col-xs-3" style="border: 1px solid #0E79AC; margin-top: 55px; border-radius: 10px; padding: 30px 10px;">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#/files">All files</a></li>
            <li><a href="#/links">Web links</a></li>
            <li><a href="#/categories">Products / Categories</a></li>
            <li ng-show="ctrl.currentUser.is_admin"><a href="#/users">Registered users</a></li>
            <li><a href="#/accounts/[[ ctrl.currentUser.id ]]/">User account</a></li>
        </ul>
    </div>
    <div class="col-xs-9">
        <!-- Insert content here-->
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#/links">Links</a></li>
                    <li class="active">new weblink</li>
                </ul>
            </div>
        </div>

        <div cg-busy="{promise:ctrl.promise,templateUrl:ctrl.templateUrl,message:ctrl.message,backdrop:ctrl.backdrop,delay:ctrl.delay,minDuration:ctrl.minDuration}" class="row">
            <div class="col-xs-12">

                <form class="form-horizontal" ng-submit="ctrl.create()">
                    <fieldset>
                        <legend>New Weblink</legend>
                        <div class="form-group">
                            <label for="title" class="col-md-2 control-label">Title</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="title" placeholder="Title" ng-model="ctrl.newLink.title" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="description" class="col-md-2 control-label">Description</label>
                            <div class="col-md-10">
                                <textarea class="form-control" rows="3" id="description" ng-model="ctrl.newLink.description" required></textarea>
                                <span class="help-block">A brief description.</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="thumbnail" class="col-md-2 control-label">Thumbnail</label>
                            <div class="col-md-10">
                                <input type="file" class="form-control" id="thumbnail" file-field="ctrl.newLink.thumbnail" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="link" class="col-md-2 control-label">Link</label>
                            <div class="col-md-10">
                                <input type="url" class="form-control" id="link" placeholder="URL" ng-model="ctrl.newLink.link" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="pub_data" class="col-md-2 control-label">Publication date</label>
                            <div class="col-md-10">
                                <p class="input-group">
                                    <input type="text" class="form-control" datepicker-popup show-button-bar="false" close-on-date-selection="true" ng-model="ctrl.newLink.pub_date" is-open=ctrl.pubDatePickerOpened min-date="ctrl.today" max-date="'2020-12-31'" datepicker-options="{formatYear: 'yy',startingDay: 1}" ng-required="true" close-text="Close">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="ctrl.openPubDatePicker($event)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="expiry_data" class="col-md-2 control-label">Expiration date</label>
                            <div class="col-md-10">
                                <p class="input-group">
                                    <input type="text" class="form-control" datepicker-popup show-button-bar="false" close-on-date-selection="true" ng-model="ctrl.newLink.expiry_date" is-open=ctrl.expiryDatePickerOpened min-date="ctrl.today" max-date="'2020-12-31'" datepicker-options="{formatYear: 'yy',startingDay: 1}" ng-required="true" close-text="Close">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="ctrl.openExpiryDatePicker($event)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="zink_number" class="col-md-2 control-label">Zink Number</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control datePicker" id="zink_number" placeholder="Zink Number" ng-model="ctrl.newLink.zink_number" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="device">Target device</label>
                            <div class="col-md-10">
                                <select class="form-control" ng-model="ctrl.newLink.target_device" ng-options="d.code as d.name for d in ctrl.devices" required></select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-2 control-label" for="country">Country</label>
                            <div class="col-md-10">
                                <select disabled="disabled" class="form-control" ng-model="ctrl.selectedCountry.code" ng-options="c.code as c.name for c in ctrl.countries" required></select>
                            </div>
                        </div>

                        
                        <div class="form-group">
                            <label for="categpries" class="col-md-2 control-label">Select categories/products</label>
                            <div class="col-md-10">
                                <select multiple="" class="form-control" ng-model="ctrl.newLink.categories" ng-options="c.name as c.name for c in ctrl.categories" required>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="audience">Audience</label>
                            <div class="col-md-10">
                                <select name="audience" class="form-control" ng-model="ctrl.newLink.audience" ng-options="a.code as a.name for a in ctrl.audiences" required></select>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <a class="btn btn-default" href="#/link">Cancel</a>
                                <input type="submit" value="Submit" class="btn btn-primary">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</div>







