<div class="row">
    <div class="col-xs-12">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#/files">Files</a></li>
            <li class="active">new file</li>
        </ul>
    </div>
</div>

<div cg-busy="{promise:ctrl.promise,templateUrl:ctrl.templateUrl,message:ctrl.message,backdrop:ctrl.backdrop,delay:ctrl.delay,minDuration:ctrl.minDuration}" class="row">
    <div class="col-xs-12">

        <form class="form-horizontal" ng-submit="ctrl.create()">
            <fieldset>
                <legend>New File</legend>
                <div class="form-group">
                    <label for="title" class="col-md-2 control-label">Title</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="title" placeholder="File title" ng-model="ctrl.newFile.title">
                    </div>
                </div>

                <div class="form-group">
                    <label for="description" class="col-md-2 control-label">Description</label>
                    <div class="col-md-10">
                        <textarea class="form-control" rows="3" id="description" ng-model="ctrl.newFile.description"></textarea>
                        <span class="help-block">A brief description of the presentation.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="thumbnail" class="col-md-2 control-label">Thumbnail</label>
                    <div class="col-md-10">
                        <input type="file" class="form-control" id="thumbnail" placeholder="Select an image to use as thumbnail" file-field="ctrl.newFile.thumbnail">
                    </div>
                </div>

                <div class="form-group">
                    <label for="file" class="col-md-2 control-label">File</label>
                    <div class="col-md-10">
                        <input type="file" class="form-control" id="file" placeholder="Attach the file" file-field="ctrl.newFile.file">
                    </div>
                </div>

                <div class="form-group">
                    <label for="pub_data" class="col-md-2 control-label">Publication date</label>
                    <div class="col-md-10">
                        <!--<input type="text" class="form-control" id="expiry_date" placeholder="Expiration date" ng-model="ctrl.newFile.expiry_date">-->
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup show-button-bar="false" close-on-date-selection="true" ng-model="ctrl.newFile.pub_date" is-open=ctrl.pubDatePickerOpened min-date="ctrl.today" max-date="'2020-12-31'" datepicker-options="{formatYear: 'yy',startingDay: 1}" ng-required="true" close-text="Close">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="ctrl.openPubDatePicker($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="expiry_data" class="col-md-2 control-label">Expiration date</label>
                    <div class="col-md-10">
                        <!--<input type="text" class="form-control" id="expiry_date" placeholder="Expiration date" ng-model="ctrl.newFile.expiry_date">-->
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup show-button-bar="false" close-on-date-selection="true" ng-model="ctrl.newFile.expiry_date" is-open=ctrl.expiryDatePickerOpened min-date="ctrl.today" max-date="'2020-12-31'" datepicker-options="{formatYear: 'yy',startingDay: 1}" ng-required="true" close-text="Close">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="ctrl.openExpiryDatePicker($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="zink_number" class="col-md-2 control-label">Zink Number</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control datePicker" id="zink_number" placeholder="Zink Number" ng-model="ctrl.newFile.zink_number">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="country">Country</label>
                    <div class="col-md-10">
                        <select disabled="disabled" class="form-control" ng-model="ctrl.selectedCountry.code" ng-options="c.code as c.name for c in ctrl.countries"></select>
                    </div>
                </div>


                <div class="form-group">
                    <label for="categpries" class="col-md-2 control-label">Select categories/products</label>
                    <div class="col-md-10">
                        <select multiple="" class="form-control" ng-model="ctrl.newFile.categories" ng-options="c.name as c.name for c in ctrl.categories">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="audience">Audience</label>
                    <div class="col-md-10">
                        <select name="audience" class="form-control" ng-model="ctrl.newFile.audience" ng-options="a.code as a.name for a in ctrl.audiences"></select>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <a class="btn btn-default" href="#/files">Cancel</a>
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>