<div class="row">
	<div class="col-xs-12">
		<ul class="breadcrumb">
	  		<li><a href="#">Home</a></li>
	  		<li class="active">Presentations</li>
		</ul>
	</div>
</div>

<div class="row"></div>

<div class="row">
	<div class="col-xs-12">
		
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list"></span>Presentations
                <div class="pull-right action-buttons">
                    <div class="btn-group pull-right">
                        <a class="btn btn-primary btn-xs pull-right" href="#/presentations/new">Create new</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <ul class="list-group custom-list">
                    <li class="list-group-item custom-item" ng-repeat="p in ctrl.presentations">
                        <img src="https://controlpanel-dev.s3.amazonaws.com/[[ p.thumbnail ]]" class="item-thumbnail" width="140" height="100">

                        <div class="item-infos">
                            <p class="item-title">
                                <a href="#/presentations/[[ p.id ]]">[[ p.title | limitTo : 60 ]]</a> 
                            </p>

                            <p class="info-item">
                                <span class="info-title">Pub Date: </span><span class="info">[[ p.pub_date | date:medium ]]</span>
                            </p>
                            <p>
                                <span class="info-title">Expiry Date: </span><span class="info">[[ p.expiry_date | date:medium ]]</span>
                            </p>
                            <p>
                                <span class="info-title">Categories/Products: </span><span class="info">[[ p.categories.join(" | ") ]]</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-12">
                        <h6>
                            Total Count <span class="label label-info" ng-bind="ctrl.presentations.length"></span></h6>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>