<div class="row">
    <div class="col-xs-12">
        <ul class="breadcrumb">
            <li><a href="#/">Home</a></li>
            <li><a href="#/categories">Users</a></li>
            <li class="active">[[ ctrl.object.email]]</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <form class="form-horizontal" ng-submit="ctrl.update()">
            <fieldset>
                <legend>[[ ctrl.object.email ]]</legend>
                <div class="form-group">
                    <label for="email" class="col-md-2 control-label">Email</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="email" placeholder="User Email" ng-model="ctrl.object.email" disabled="disabled">
                    </div>
                </div>
                <div class="form-group">
                    <label for="first_name" class="col-md-2 control-label">First Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="first_name" placeholder="First Name" ng-model="ctrl.object.first_name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="last_name" class="col-md-2 control-label">Last Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="last_name" placeholder="Last Name" ng-model="ctrl.object.last_name">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="country">Country</label>
                    <div class="col-md-10">
                        <select class="form-control" ng-model="ctrl.object.country" ng-options="c.code as c.name for c in ctrl.countries"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="user_type">User group</label>
                    <div class="col-md-10">
                        <select class="form-control" ng-model="ctrl.object.user_type" ng-options="g.code as g.name for g in ctrl.user_groups"></select>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <a class="btn btn-default" href="#/users">Cancel</a>
                        <input type="submit" value="Update" class="btn btn-primary">
                        <a class="btn btn-danger pull-right" ng-click="ctrl.delete()">Delete</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>