<div class="row">
    <div class="col-xs-3" style="border: 1px solid #0E79AC; margin-top: 55px; border-radius: 10px; padding: 30px 10px;">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#/files">All files</a></li>
            <li><a href="#/links">Web links</a></li>
            <li><a href="#/categories">Products / Categories</a></li>
            <li ng-show="ctrl.currentUser.is_admin"><a href="#/users">Registered users</a></li>
            <li><a href="#/accounts/[[ ctrl.currentUser.id ]]/">My account</a></li>
            <li><a href="#/application-variables">Application Variables</a></li>
        </ul>
    </div>
    <div class="col-xs-9">
        <!-- Insert content here-->
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="#/">Home</a></li>
                    <li><a href="#/categories">Users</a></li>
                    <li class="active">[[ ctrl.object.email]]</li>
                </ul>
            </div>
        </div>

        <div cg-busy="{promise:ctrl.promise,templateUrl:ctrl.templateUrl,message:ctrl.message,backdrop:ctrl.backdrop,delay:ctrl.delay,minDuration:ctrl.minDuration}" class="row">
            <div class="col-xs-12">

                <form class="form-horizontal" ng-submit="ctrl.update()">
                    <fieldset>
                        <legend>[[ ctrl.object.email ]]</legend>
                        <div class="form-group">
                            <label for="email" class="col-md-2 control-label">Email</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="email" placeholder="User Email" ng-model="ctrl.object.email" disabled="disabled" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="auth_token" class="col-md-2 control-label">API AUTH TOKEN</label>
                            <div class="col-md-10">
                                <input disabled type="text" class="form-control" id="auth_token" ng-model="ctrl.object.api_auth_token">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="first_name" class="col-md-2 control-label">First Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="first_name" placeholder="First Name" ng-model="ctrl.object.first_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="last_name" class="col-md-2 control-label">Last Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="last_name" placeholder="Last Name" ng-model="ctrl.object.last_name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="user_type">User group</label>
                            <div class="col-md-10">
                                <select class="form-control" ng-model="ctrl.object.user_type" ng-options="g.code as g.name for g in ctrl.user_groups" required>
                                    <option></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <a class="btn btn-default" href="#/users">Return</a>
                                <input type="submit" value="Update" class="btn btn-primary">
                                <a class="btn btn-danger pull-right" ng-click="ctrl.delete()">Delete</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>