.group:before,
.group:after { 
	content: "";
	display: table;
} 

.group:after { 
	clear: both;
}

.group {
	clear: both;
	*zoom: 1;
}

#login-box {
	margin: 100px auto; 
	width: 500px;
}

#country-container {
	margin: 300px auto; 
	width: 850px;
}
#countries {
	display: block;
	width: 100%;
	margin: 100px auto;
}

.country-item {
	display: inline-block;
	float: left;
	width: 250px;
	height: 150px;
	margin: 5px;
}

.country-item-link {
	display: block;
	width: 100%;
	height: 100%;
}

#norway {
	background: url('../img/norway.png') no-repeat center center;
	background-size: 250px 150px;
}

#sweden {
	background: url('../img/sweden.png') no-repeat center center;
	background-size: 250px 150px;
}

#danmark {
	background: url('../img/danmark.png') no-repeat center center;
	background-size: 250px 150px;
}

.trash { color:rgb(209, 91, 71); }
.flag { color:rgb(248, 148, 6); }
.panel-body { padding:0px; }
.panel-footer .pagination { margin: 0; }
.panel .glyphicon,.list-group-item .glyphicon { margin-right:5px; }
.panel-body .radio, .checkbox { display:inline-block;margin:0px; }
.panel-body input[type=checkbox]:checked + label { text-decoration: line-through;color: rgb(128, 144, 160); }
.list-group-item:hover, a.list-group-item:focus {text-decoration: none;background-color: rgb(245, 245, 245);}
.list-group { margin-bottom:0px; }

.item-thumbnail {
	display: inline-block;
	float: left;
	margin-top: 3px;
	margin-right: 15px;
}

.item-infos {
	display: inline-block;
	margin: 5px;
	width: 480px;
}

.item-title {
	font-size: 17px;
	font-weight: 600;
	color: #1377A5;
}

.item-title a {
	text-decoration: none;
}

.info-item {
	margin: -3px 0 0.5px;
}

.info-title {
	font-size: 10px;
	font-weight: 600;
	color: #7C7979;
}

.info {
	font-size: 10px;
	color: #7C7979;
}

.custom-item {
	height: 120px;
	padding: 5px;
	margin-bottom: 0px;
}

.stepper {
	display: inline-block;
}

.stepper button {
	background: #9C9AA0;
}

.stepper button:active {
	background: #D1CFD5;
}

/************
* SPINNER 
************/

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 10px;
  height: 10px;
  background-color:  #850057;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
