{% load compress %}
{% load staticfiles %}

{% compress js %}

<script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
<script src="{% static 'bower_components/ng-file-upload-shim/ng-file-upload-shim.min.js '%}"></script>
<script src="{% static 'bower_components/angular/angular.js' %}"></script>
<script src="{% static 'bower_components/ng-file-upload/ng-file-upload.min.js '%}"></script>
<script src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>

<script src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>
<script src="{% static 'js/libs/snackbar.min.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/controllers.js' %}"></script>
{% endcompress %}